<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.9.1.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/angular.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                <li>@Html.ActionLink("Sub-Categoria", "Index", "SubCategoria")</li>
            </ul>
            <h3 class="text-muted">Gerenciar Categorias</h3>
        </div>
        <br />
        <div id="conteudo">
            @RenderBody()
        </div>
    </div>

 
</body>
</html>
